@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+NG+Modern:wght@100..400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {box-sizing: border-box;margin: 0;padding: 0;}

.container {
    display: grid;
    grid-template-columns: 250px 80%;
    grid-auto-flow: column;
    z-index:-10;
}

.sidebar {
    padding: 15px;
    height: 60vh;
    position: sticky;
    top: 0;
    z-index: 5;
}

.sidebar h3 {
    color: black;
}

.main-content {
    width: 80%;
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    background-color: #f4f4f4;
}

.stats {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*margin-bottom: 20px;*/
}

.charts {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

.bar-chart, .pie-chart {
    width: 48%;
    background-color: #fafafa;
    border-radius: 4px;
    height: 300px;
    /*box-shadow: 0 0 10px #ccc;*/
}
