* {box-sizing: border-box;margin: 0;padding: 0;}

.container {
    display: grid;
    grid-template-columns: 250px 80%;
    grid-auto-flow: column;
    z-index:-10;
}

.sidebar {
    color: white;
    padding: 15px;
    height: 60vh;
    position: sticky;
    top: 0;
    z-index: 5;
}

.sidebar h3 {
    color: white;
}

.main-content {
    width: 80%;
    flex: 1;
    padding: 15px;
    overflow-y: auto;
}

.stats {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*margin-bottom: 20px;*/
}

.charts {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

.bar-chart, .pie-chart {
    width: 48%;
    background-color: #fafafa;
    border-radius: 4px;
    height: 300px;
    /*box-shadow: 0 0 10px #ccc;*/
}
